PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/tattoostudio

# JWT
JWT_SECRET=cambia_esto_por_un_string_muy_largo_y_seguro_123456
JWT_EXPIRES_IN=7d

# Mercado Pago
MP_ACCESS_TOKEN=tu_access_token_de_mercadopago_aqui

# URLs de retorno de Mercado Pago
FRONTEND_URL=http://localhost:5500
MP_SUCCESS_URL=http://localhost:5500/frontend/pages/payment-success.html
MP_FAILURE_URL=http://localhost:5500/frontend/pages/payment-failure.html
MP_PENDING_URL=http://localhost:5500/frontend/pages/payment-pending.html

# Email (Gmail con App Password)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password_de_16_caracteres

# Email del dueño del negocio (recibe notificaciones de pedidos)
OWNER_EMAIL=dueno@gmail.com

# Envío
SHIPPING_COST=1500
FREE_SHIPPING_FROM=15000
